<h1>All Products</h1>
<ul>
    <% @products.each do |p| %>
        <li><%= link_to p.title, product_path(p) %></li>
        <li><%= p.description %></li>
        <li><%= number_to_currency p.price %></li>
        <li><%= p.stock_quantity %></li>
        <p></p>
    <% end %>

</ul>
